@use "/src/sass/base/variables.scss" as *;

.header {
    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        a {
            display: block;
            color: $dark;

            span {
                display: block;
                width: 20px;
                height: 20px;
                font-size: 20px;
            }
        }
    }

    &__nav {
        display: none;
    }

    &__menu {
        position: fixed;
        z-index: 100;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        padding: 50px 10px;
        background-color: $light;
        transition: transform 0.3s;
        opacity: 0;

        &_active {
            transform: translateX(100%);
            opacity: 1;
        }

        &-close {
            width: 20px;
            height: 20px;

            span {
                display: block;
                width: 20px;
                height: 1px;
                background-color: $dark;

                &:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translateY(8px) rotate(-45deg);
                }
            }
        }

        &-nav {
            margin-top: 50px;
            padding-left: 14px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding: 0;
                list-style-type: none;
                text-transform: uppercase;
            }
        }
        &-link {
                text-decoration: none;
                color: $dark;
                font-weight: 400;
                font-size: 20px;
            }
    }
}

.burger {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;
    height: 23px;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark;
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__nav {
            margin-top: 20px;
            display: block;

            ul {
                display: flex;
                padding-left: 0;
                justify-content: center;
                gap: 30px;



                li {
                    list-style-type: none;

                }
            }
        }
        &__menu { 
            display: none;
        }

        &__link {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 20px;
            color: $dark;
            text-decoration: none;
        }
    }

    .burger {
        visibility: hidden;
    }
}

@media screen and (min-width: 1920px) {
    .header {
        &__logo {
            width: 150px;
            height: 151px;
        }

        &__nav {
            margin-top: 36px;

            ul {
                gap: 60px;
            }
        }
    }
}